<div id='edit-image-form-<%= image.id %>' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h4 class='modal-title text-center'>Image Edit Form</h4>
      </div>

      <%= form_for image, html: { multipart: true, class: 'form-horizontal' } do |f| %>
        <div class='modal-body'>
          <div class='row'>
            <div class='col-lg-4 col-centered'>
              <%= f.file_field :file, class: 'm-b-md' %>
            </div>
          </div>
        </div>

        <div class='modal-footer text-center'>
          <%= f.submit 'Update Image', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
