<div id='edit-image-form-<%= image.id %>' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h4 class='modal-title text-center'>Image Edit Form</h4>
      </div>

      <div class='modal-body'>
        <div class='row'>
          <div class='col-lg-4 col-centered'>
            <%= render 'images/form', image: image %>
          </div>
        </div>
      </div>

      <div class='modal-footer text-center'>
        <div class='row m-b-lg m-t-md'>
          <div class='col-lg-6 col-centered text-center'>
            <%= link_to '#', id: 'upload-btn', class: 'btn btn-success', data: { toggle: 'modal', target: '#image-form' } do %>
              <i class='fa fa-upload'></i> Upload Image
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
