<div class='row'>
  <div class='col-lg-12 text-center'>
    <% if gallery.images.select(&:persisted?).present? %>
      <div class='row'>
        <% gallery.images.each do |image| next if image.new_record? %>
          <%= render 'image', image: image %>
        <% end %>
      </div>
    <% else %>
      <h5>No images in your gallery.</h5>
    <% end %>
  </div>
</div>
