<div class='gallery-block'>
  <h2>Image Gallery</h2>

  <% if gallery.images.select(&:persisted?).present? %>
    <ul class='gallery-list'>
      <% gallery.images.each do |image| next if image.new_record? %>
        <li><%= render 'image', image: image %></li>
      <% end %>
    </ul>
  <% else %>
    <h5>No images in your gallery.</h5>
  <% end %>
</div>
