<div class='row m-b-lg m-t-md'>
  <div class='col-lg-6 col-centered text-center'>
    <%= link_to '#', class: 'btn btn-success' do %>
      <i class='fa fa-upload'></i> Upload Images
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6 col-centered text-center'>
    <h5>No images in your gallery.</h5>
  </div>
</div>
