<div class='row m-b-lg m-t-md'>
  <div class='col-lg-6 col-centered text-center'>
    <%= link_to '#', class: 'btn btn-success', data: { toggle: 'modal', target: '#image-form' } do %>
      <i class='fa fa-upload'></i> Upload Images
    <% end %>
  </div>
</div>

<%= render 'images', gallery: @gallery %>

<%= render 'bulk_images_modal_form', gallery: @gallery %>
