.col-centered {
  float: none;
  margin: 0 auto;
}

.field_with_errors {
  color: red;
}

.text-center {
  text-align: center !important;
}

.img-resize {
  width: 200px !important;
  height: 200px !important;
}

.copy-text-field {
  z-index: -1;
  position: absolute;
}
