<div class='row'>
  <div class='col-lg-6 col-centered'>
    <%= form_for(image, html: { class: 'dropzone'}) do |f|  %>
      <div class='fallback'>
        <%= f.file_field :file %><br>
        <%= f.submit 'Upload Image' %>
      </div>
    <% end %>
  </div>
</div>
