<%= render 'images/form', image: image %>

<div class='row m-b-lg m-t-md'>
  <div class='col-lg-6 col-centered text-center'>
    <%= link_to '#', id: 'upload-btn', class: 'file-upload-btn', data: { toggle: 'modal', target: '#image-form' } do %>
      Upload Image
    <% end %>
  </div>
</div>
