<%= render 'images/form', image: @image %>

<div class='row m-b-lg m-t-md'>
  <div class='col-lg-6 col-centered text-center'>
    <%= link_to '#', id: 'upload-btn', class: 'btn btn-success', data: { toggle: 'modal', target: '#image-form' } do %>
      <i class='fa fa-upload'></i> Update Image
    <% end %>
  </div>
</div>

<div class='row m-b-lg m-t-md'>
  <div class='col-lg-6 col-centered text-center'>
    <%= image_tag(@image.file.url(:medium), class: 'img-thumbnail') %>
  </div>
</div>
