<header id='header'>
  <div class='header-container'>
    <div class='logo-area'>
      <%= link_to image_tag('smile.png'), root_path, class: 'navbar-brand' %>
      <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand' %>
    </div>
  </div>
</header>
